
.responsive-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form-row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1; /* Permet de prendre un espace égal pour les deux champs */
}

.full-width {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}



@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
}
