.violet{
    background-color: rgb(191, 121, 191);
    width: 100vw;
    height: 100vh;
}
.red{
    background-color: red;
    width: 50%;
    height: 50%;
}

.green{
    background-color: green;
    width: 50%;
    height: 50%;
}

.blue{
    background-color: blue;
    width: 50%;
    height: 50%;

}
