*{
    margin: 0;
    padding: 0;
}


.logo img{
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    border: 10px solid rgb(255, 182, 182);
}

.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    background-color: salmon;
}

.button{
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background-color: rgb(46, 46, 46);
}

.droite p {
    margin: 20px;
}

.droite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row-reverse;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
    }

    
}

@media screen and (max-width: 220px) {
    .container {
     max-width: 100vw;   
    }
    .droite, .logo {
        max-width: 100vw;
    }
    .logo img {
        max-width: 100vw;
        max-height: 100vw;
        border: none;
    }
    
    H1{
        font-size: 12px;
    }
}